body{
    background-color: #f4f6f9;
    font-family: Arial,sans-serif;
}

.container{
    width: 80%;
    margin: 40px auto;
}

.h1{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table{
    font-size: 16px;
    border : 1px solid black;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
}

th,td{
    border : 1px solid black;
    padding: 8px;
}

th{
    text-align: left;
    background-color: #007bff;
    color: white;
}