<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the HTML webpage</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Job Application Tracker</h1>
    <a th:href="@{/add-job}" class="btn">+ Add Job</a>
    <table>
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Location</th>
        </tr>
        <tr th:each="job : ${jobs}">
            <td th:text="${job.company}"></td>
            <td th:text="${job.position}"></td>
            <td th:text="${job.location}"></td>
        </tr>
    </table>
</div>
</body>
</html>